.KM-EnrollmentList {
  display: table;
  border-collapse: collapse;
  width: 100%;
}

.KM-EnrollmentList__heading-container {
  display: table-row;
}

.KM-EnrollmentList__heading {
  display: table-cell;
  padding: 0 10px;
  overflow: hidden;
  font-weight: bold;
  text-align: center;
}

.KM-EnrollmentList__heading--owner {
}

.KM-EnrollmentList__heading--vrl {
}

.KM-EnrollmentList__heading--horseName {
}

.KM-EnrollmentList__heading--vh {
}
