.KM-Enrollment {
  display: table-row;
  width: 100%;
  cursor: pointer;
}

.KM-Enrollment:hover .KM-Enrollment__item {
  background-color: rgba(0, 0, 0, 0.1);
}

.KM-Enrollment--editing {
  cursor: initial;
}

.KM-Enrollment--invalid {
  background-color: rgba(255, 0, 0, 0.1);
  text-align: center;
}

.KM-Enrollment__item {
  display: table-cell;
  overflow: hidden;
  overflow-wrap: break-word;
  border: 1px solid olive;
  padding: 5px 10px;
}

.KM-Enrollment__item--full-width {
  width: 100%;
}

.KM-Enrollment__item--owner {
}

.KM-Enrollment__item--vrl {
  text-align: center;
}

.KM-Enrollment__item--horseName {
}

.KM-Enrollment__item--vh {
  text-align: center;
}


.KM-Enrollment--editing .KM-Enrollment__item {
  padding: 0;
}

.KM-Enrollment input {
  display: block;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 3px 10px;
  width: 100%;
  height: 100%;
  font-size: 1rem;
  outline: none;
}
