.Kisamaatti-ParsedEnrollments {}

.Kisamaatti-ParsedEnrollments table {
  border-collapse: collapse;
}

.Kisamaatti-ParsedEnrollments tr:hover td {
  background-color: rgba(0, 0, 0, 0.1);
}

.Kisamaatti-ParsedEnrollments td {
  border: 1px solid olive;
  padding: 5px 10px;
}